  body{
background-image: url(https://mre-school.ru/upload/iblock/8ab/oo3xjevr3sjq8a6w5wwp6q7t532b4v8u.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.yak{
      text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
.a-yak{
  border: 2px black solid;
  margin-left: 20px;
  text-decoration:none;
}
.text-main{

    text-align: center;
    font-size: 30px;
    margin-top: 80px;
}

.img-tab{
    width: 600px;
    height: 350px;
}
.tab{
    border: 1px solid black;
    border-collapse: collapse;
}
.tab-text{
    color: white;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
.dayoff{
    background-color:burlywood;
    border: 1px solid black;    
}
.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    font-size: 50;
  }
  .tab-1{
    border: 1px solid black;
    border-collapse: collapse;
  }
  .td{
    text-align: center;
    width:200px;
    height:80px ;
  }
  .td1{
    text-align: center;
  }
  .li{
    text-align: left;
  }
  .ddd{
width: 300px;
height: 300px;
border-radius: 50%;
  }
  .aaa{
    width: 400px;
    height: 200px;
  }
  .aaaa{
    width: 100px;
    height: 100px; 
  }
  